<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::myheader">
</head>
<body class="skin-black">
 	<header class="header" th:replace="template::header"> </header>
 	<div class="wrapper row-offcanvas row-offcanvas-left">
 		<aside th:replace="template::leftside"> </aside>
 		<aside class="right-side"> 
        	<section class="content">

        	<h1> Create New Student </h1>
        	<form action="add" method=POST>
  				<div class="form-group">
    				<label for="departmentId">Student Name</label>
    				<input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Student Name">
  				</div>
  				<div class="form-group">
    				<label for="address">Address</label>
    				<input type="text" class="form-control" id="address" name="address" placeholder="Enter Address">
  				</div>
  				<div class="form-group">
  					<label for="department">Department</label>
  					<select class="form-control" id="departmentID" name="departmentId">
    					<option th:each="department : ${departments}" th:value="${department.departmentId}" th:text="${department.departmentName}" th:selected="${department.departmentId==0}"></option>
					</select>
  				</div>
  				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
        	
        	
        	</section>
 		</aside>
 	</div>


<h1> index body </h1>

</body>
</html>