<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::myheader">
</head>
<body class="skin-black">
 	<header class="header" th:replace="template::header"> </header>
 	<div class="wrapper row-offcanvas row-offcanvas-left">
 		<aside th:replace="template::leftside"> </aside>
 		<aside class="right-side"> 
        	<section class="content">

        	<h1> Student List </h1>
        	<table class="table table-striped">
    			<thead class="thead-dark">
        			<tr>
            			<th> Student Name </th>
            			<th> Address </th>
            			<th> Department Name </th>
            			<th> Actions </th>
        			</tr>
    			</thead>
    			<tbody>
    				<tr th:if="${students.empty}">
            			<td colspan="2"> No Books Available </td>
        			</tr>
        			<tr th:each="student : ${students}">
            			<td><span th:text="${student.studentName}"> Student Name </span></td>
            			<td><span th:text="${student.address}"> Address </span></td>
            			<td><span th:text="${student.department.departmentName}"> Address </span></td>
            			<td><a th:href="@{'/student/edit/' + ${student.studentId}}"><i class="fa fa-edit"></i></a> || <a th:href="@{'/student/delete/' + ${student.studentId}}"><i class="fa fa-trash"></i></a></td>
        			</tr>
    			</tbody>
			</table>
        	</section>
 		</aside>
 	</div>


<h1> index body </h1>

</body>
</html>